.footer {
    text-align: center;
    background-color: black;
}



.footer-text {
    color: white;
    text-decoration: none;

}

@media only screen and (max-width: 768px) {
    .footer {
        font-size: xx-small;
    }
}